<nav class="navbar navbar-default navbar-fixed-top pull-right container">
   <div class="container-fluid">
      <a href="{{site.url}}{{site.baseurl}}/nav_links/10-home/index.html" class="navbar-left"><img src={{site.url}}{{site.baseurl}}/public/images/logo-v1-header.png></a>
      <a href="https://www.instagram.com/aisle5oakland/" class="navbar-left"><img src={{site.url}}{{site.baseurl}}/public/images/instagram-icon-small.png></a>
      <a href="https://www.facebook.com/aisle5Oak/" class="navbar-left"><img src={{site.url}}{{site.baseurl}}/public/images/facebook-icon-small.png></a>				 
      <div class="navbar-header pull-right">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            {% assign nav_list = site.nav_links %}
            {% for node in nav_list %}
            <li><a style="color:black;" href="{{ site.url }}{{site.baseurl}}{{ node.url}}">{{ node.title }}</a></li>
            {% endfor %}
         </ul>
      </div>
      <!--/.nav-collapse -->
   </div>
   <!--/.container-fluid -->
</nav>