---
layout: default
---
	<div class="container-fluid no-padding">
		<div class="row" style="background:#292C33;">
			<div class="col-lg-6" style="text-align:left; margin-top: 175px;">	
					<h1 style="color:white;">Aisle 5 is located in the historic 3320 Grand Ave Building</h1>
					<h3 style="color:white;">Built in 1917, 3320 Grand Ave was a free standing buildling pre-dating the construction of the Grand Lake Theater (1928)</h3>
					<h3 style="color:white;">The first recorded business was the Jenny Wren Spotless Foodstore</h3>
			</div>
			<div class="col-lg-6 no-padding">	
			<img class="img-responsive" class="center-block" src={{site.url}}{{site.baseurl}}/public/images/jenny-wren/3320-Grand-Ave-Opening.jpg>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="text-align:center;">
				<h1 style="color:black;">Oakland Pub and Grill</h1>
				<h3 style="color:black;">AISLE5 is a new craft beer and eatery located at 3320 Grand Ave</h3>
				<h3 style="color:black;">in the historic Grand Lake district in Oakland California</h3>
			</div>
			<div class="col-lg-12">	
				<img class="img-responsive center-block" style="padding-top:100px; padding-bottom:50px;" src={{site.url}}{{site.baseurl}}/public/images/jenny-wren/jenny-wren-story-min.jpg>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="text-align:center;">
				<h1 style="color:black;">Oakland Pub and Grill</h1>
				<h3 style="color:black;">AISLE5 is a new craft beer and eatery located</h3>
				<h3 style="color:black;">in the historic Grand Lake district in Oakland California</h3>
			</div>
			<div class="col-lg-12">	
				<img class="img-responsive center-block" style="padding-top:100px; padding-bottom:50px;" src={{site.url}}{{site.baseurl}}/public/images/jenny-wren/jenny-wren-logo.jpg>
			</div>
		</div>
	</div>
