---
layout: default
---
	<div class="container-fluid">	
        {% for post in site.posts %}
		<div class="row">
			<div class="col-lg-2">	
					<p> </p>
			</div>
			<div class="col-lg-8">	
				<hr class="style2"></hr>
			</div>
			<div class="col-lg-2">	
					<p> </p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2">	
					<p> </p>
			</div>
			<div class="col-lg-8">
				<h1 style="text-align:center;" >{{ post.title }}</h1>
				<p><img class="center-block" src={{site.url}}{{site.baseurl}}/public/images/post-images/{{post.image}}></p>
				<p>{{ post.content }}</p>
			</div>
			<div class="col-lg-2">
			</div>
		</div>
		{% endfor %}
	</div>
