---
layout: default
---
<style type="text/css">
   div.screen-background {
   background-image: url("{{site.url}}{{site.baseurl}}/public/images/{{page.background_file}}");
   background-repeat: repeat;
   }
</style>
<div class="container-fluid no-padding">
	<div class="row">
		<div class="col-lg-12">	
			<img class="img-responsive center-block" src={{site.url}}{{site.baseurl}}/public/images/splash-screen-home.png>
		</div>
		<div class="col-lg-12">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" style="text-align:center; padding-top:50px; padding-bottom:100px;">
			<h2 style="color:black;">We have 20 rotating taps of the finest craft beer for your enjoyment</h3>
			<h2 style="color:black;">Our expert staff will assist you in selecting the right beer for your taste</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<table style="margin: auto;">
			{% for beer in site.beermenu %}
			{% if forloop.index >= 1 and forloop.index <= 10 %}
				<tr>
					<td>
						<img class="brewery_brand" class="center-block" src={{site.url}}{{site.baseurl}}/public/beer-images/brewery_brand/{{beer.brewery_brand}}>
					</td>
				</tr>
			{% endif %}
			{% endfor %}
			</table>
		</div>
		<div class="col-lg-6 screen-background">
			<table style="margin: auto; width:100%">
				<tr><td style="height: 50px;"/></tr>
			{% for beer in site.beermenu %}
				<tr>
					<td>
						<p class="brand-name-web" style="color:{{page.font_color}}; vertical-align: middle;">{{ beer.brand }}</p>
					</td>
					<td>
					{% for profile in beer.flavor_profile %}
					{% if profile.is_bitter == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/bitter.png>
					{% endif %}
					{% if profile.is_strong == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/strong.png>
					{% endif %}
					{% if profile.is_sweet == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/sweet.png>
					{% endif %}
					{% if profile.is_balanced == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/balanced.png>
					{% endif %}
					{% if profile.is_sour_citrus == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/sour_citrus.png>
					{% endif %}
					{% if profile.is_light_crisp == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/crisp.png>
					{% endif %}
					{% if profile.is_creamy == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/creamy.png>
					{% endif %}
					{% if profile.is_hoppy == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/hopps.png>
					{% endif %}
					{% if profile.is_extra_hoppy == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/hoppsx.png>
					{% endif %}
					{% if profile.is_light == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/light.png>
					{% endif %}
					{% if profile.is_malty == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/malt.png>
					{% endif %}
					{% if profile.is_sour == "True" %}
						<img class="flavor_image-web" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/white/sour.png>
					{% endif %}
					{% endfor %}
					</td>
				</tr>
				{% endfor %}
				<tr><td style="height: 50px;"/></tr>
			</table>
		</div>
		<div class="col-lg-3">
			<table style="margin: auto;">
			{% for beer in site.beermenu %}
			{% if forloop.index >= 11 and forloop.index <= 20 %}
				<tr>
					<td>
						<img class="brewery_brand" class="center-block" src={{site.url}}{{site.baseurl}}/public/beer-images/brewery_brand/{{beer.brewery_brand}}>
					</td>
				</tr>
			{% endif %}
			{% endfor %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" style="text-align:center; padding-top:50px; padding-bottom:100px; ">	
			<p> </p>		
		</div>
	</div>
</div>