---
layout: default
---
<style type="text/css">
   div.screen-background {
   background-image: url("{{site.url}}{{site.baseurl}}/public/images/background/{{page.background_file}}");
   background-repeat: repeat;
   margin-left:10%; 
   margin-right:10%;
   }
</style>
<div class="container-fluid no-padding">
	<div class="row">
		<div class="col-lg-12 hidden-xs">	
			<img class="img-responsive center-block" src={{site.url}}{{site.baseurl}}/public/images/splash-screen-home-min.jpg>
		</div>
		<div class="col-lg-12">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" style="text-align:center; padding-top:50px; padding-bottom:100px;">
			<h2 style="color:black;">We have 20 rotating taps of the finest craft beer for your enjoyment</h3>
			<h2 style="color:black;">Our expert staff will assist you in selecting the right beer for your taste</h3>
		</div>
	</div>
	<div class="row screen-background">
		<div class="col-lg-2">
			<p> </p>
		</div>
		<div class="col-lg-8">	
			<img class="img-responsive center-block" style="padding-top:100px; padding-bottom:50px;" src={{site.url}}{{site.baseurl}}/public/images/logo-dark-grey.png>
		</div>
		<div class="col-lg-2">
			<p> </p>
		</div>
	</div>
	<div class="row screen-background">
		<div class="col-lg-12 col-xs-12 col-md-12">
			<table style="width:100%">
				<tr><td style="height: 10px;"/></tr>
			{% for beer in site.beermenu %}
				<tr>
					<td>
						<p class="brand-name-web" style="color:{{page.font_color}}; vertical-align: middle;">{{ beer.brand }} ( ABV: {{ beer.alcohol }} 
						{% if beer.ibu != "NA" %}
							IBU: {{beer.ibu}}
						{% endif %}
						)</p>
					</td>
				</tr>
				<tr>
					<td>
						<p class="brand-long-desc" style="color:{{page.font_color}}; vertical-align: middle;">{{ beer.long_desc }}</p>
					</td>
				</tr>
				<tr><td style="height: 20px;"/></tr>
				{% endfor %}
				</table>
		</div>
	</div>
</div>