---
layout: default
---
<style type="text/css">
	body.screen-background {
	background-image: url("{{site.url}}{{site.baseurl}}/public/images/{{page.background_file}}");
	background-repeat: repeat;
	}
</style>
<div class="container-fluid">
<div class="row">
<div class="col">
	<p>Column 1 </p>
</div>
<div class="col-6 screen-background">
	<table style="width:100%">
		{% for beer in site.beermenu %}
		<tr>
			<td>
				<p class="brand-name" style="color:{{page.font_color}}; vertical-align: middle; line-height: 90px;">{{ beer.brand }}</p>
			</td>
			<td>
				{% for profile in beer.flavor_profile %}
				{% if profile.is_bitter == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/bitter.png>
				{% endif %}
				{% if profile.is_strong == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/strong.png>
				{% endif %}
				{% if profile.is_sweet == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/sweet.png>
				{% endif %}
				{% if profile.is_balanced == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/balanced.png>
				{% endif %}
				{% if profile.is_sour_citrus == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/sour_citrus.png>
				{% endif %}
				{% if profile.is_light_crisp == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/crisp.png>
				{% endif %}
				{% if profile.is_creamy == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/creamy.png>
				{% endif %}
				{% if profile.is_hoppy == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/hopps.png>
				{% endif %}
				{% if profile.is_extra_hoppy == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/hoppsx.png>
				{% endif %}
				{% if profile.is_light == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/light.png>
				{% endif %}
				{% if profile.is_malty == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/malt.png>
				{% endif %}
				{% if profile.is_sour == "True" %}
				<img class="flavor_image" src={{site.url}}{{site.baseurl}}/public/beer-images/flavor_image/black/sour.png>
				{% endif %}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div>
	<div class="col">
		<p>Column 3 </p>
	</div>
</div>