---

---
	<!DOCTYPE html>
	<html lang="en-us">
		{% include head.html %}
		{% assign start_index  = {{page.start_index}} %}
		{% assign end_index  = {{page.end_index}} %}
        <style type="text/css">
         body.screen-background {
             background-image: url("{{site.url}}{{site.baseurl}}/public/images/{{page.background_file}}");
			 background-repeat: repeat;
          }
		</style>
	<body class="screen-background" style="padding-top: 0px;">
	<!-- listing of posts -->
	<div class="container-fluid">	
		<table  class="post-table-index" width="60%">
			{% tablerow beer in site.beermenu cols: 2 %}
					<div>
						<img class="brewery_brand" align="left" style="padding:5px;" src={{site.url}}{{site.baseurl}}/public/beer-images/brewery_brand/{{beer.brewery_brand}}>
						<h1 class="brand-name" align="left" style="color:{{page.font_color}};">{{ beer.brand }}</h1>		
					</div>
		{% endtablerow %}
		</table>
	</div>
	</body>
</html>