<!DOCTYPE html>
<html lang="en-us">
   {% include head.html %}
   <body>
      <!--Hide top spacing on phones-->
      <div class="container-padding hidden-xs">
      </div>
      <div class="row">
         <div class="col-lg-6">
         </div>
         <div class="col-lg-6 pull-left">
            {% include topbar.html %}
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 pull-left">
            {{ content }}
         </div>
      </div>
      <!-- Footer -->
      <div class="container-fluid">
         <div class="row" style="background:#292C33; margin-top:150px;">
            <div class="col-lg-1">
            </div>
         </div>
      </div>
      <!-- Begin Constant Contact Active Forms -->
      <script> var _ctct_m = "b4ad1089e60e892ac82028fc379c1429"; </script>
      <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
      <!-- End Constant Contact Active Forms -->		
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Bootstrap Override CSS -->  
      <script src="{{site.url}}{{site.baseurl}}/public/js/bootstrap.min.js"></script>
   </body>
</html>
