<!DOCTYPE html>
<html lang="en-us">
   {% include head.html %}
   <body>
      <!--Hide top spacing on phones-->
      <div class="container-padding hidden-xs">
      </div>
      <div class="row">
         <div class="col-lg-6">
         </div>
         <div class="col-lg-6 pull-left">
            {% include topbar.html %}
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 pull-left">
            {{ content }}
         </div>
      </div>
      <!-- Footer -->
      <div class="container-fluid">
         <div class="row" style="background:#292C33; margin-top:150px;">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2">
               <p class="footer-heading">Location</p>
               <p class="footer-line">Aisle 5 Oakland</p>
               <p class="footer-line">3320 Grand Ave</p>
               <p class="footer-line">Oakland, Ca 94610</p>
            </div>
            <div class="col-lg-2">
               <p class="footer-heading">Hours</p>
               <p class="footer-line">Monday - Thursday: 11:30am - 9:30pm</p>
               <p class="footer-line">Friday: 11:30am - 10pm</p>
               <p class="footer-line">Saturday: 10:30am - 10pm</p>
               <p class="footer-line">Sunday: 10:30am - 9pm</p>
            </div>
            <div class="col-lg-2">
               <p class="footer-heading">Contact</p>
               <p class="footer-line">(510) 879-7053</p>
               <p><a href="mailto:social@aisle5oakland.com?Subject=Feedback" target="_top" class="footer-line">social@aisle5oakland.com</a></p>
            </div>
            <div class="col-lg-2">
               <p class="footer-heading">Social</p>
               <p><a href="https://www.facebook.com/Aisle-5-Oakland-1735956076721037/" class="footer-line" >Facebook</a></p>
               <p><a href="https://www.yelp.com/biz/aisle-5-oakland" class="footer-line" >Yelp</a></p>
               <p><a href="https://www.instagram.com/aisle5oakland/" class="footer-line" >Instagram</a></p>
            </div>
            <div class="col-lg-2">
               <p class="footer-heading">Site Map</p>
               <p><a href="/nav_links/10-home/" class="footer-line" >Home</a></p>
               <p><a href="/nav_links/15-food/" class="footer-line" >Food Menu </a></p>
               <p><a href="/nav_links/20-beer/" class="footer-line" >Beers on Tap</a></p>
               <p><a href="/nav_links/40-music/" class="footer-line" >Events</a></p>
               <p><a href="/nav_links/50-about_us/" class="footer-line" >About us</a></p>
            </div>
            <div class="col-lg-1" style="color:white;">
            </div>
         </div>
         <div class="row" style="background:#292C33;">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4 bottom-align-text">
               <p style="color:grey">   </p>
            </div>
            <div class="col-lg-4">
               <h2 style="color:white;">
               Aisle 5 Oakland 
               <h1>
            </div>
            <div class="col-lg-2">
               <p style="color:grey"> </p>
            </div>
            <div class="col-lg-1">
            </div>
         </div>
      </div>
      <!-- Begin Constant Contact Active Forms -->
      <script> var _ctct_m = "b4ad1089e60e892ac82028fc379c1429"; </script>
      <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
      <!-- End Constant Contact Active Forms -->		
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Bootstrap Override CSS -->  
      <script src="{{site.url}}{{site.baseurl}}/public/js/bootstrap.min.js"></script>
   </body>
</html>