---
layout: default
---
<style type="text/css">
   div.screen-background {
   background-image: url("{{site.url}}{{site.baseurl}}/public/images/background/{{page.background_file}}");
   background-repeat: repeat;
   }
</style>
<div class="container-fluid no-padding">
	<div class="row">
		<div class="col-lg-12" style="width:100%;">	
			<img class="img-responsive center-block" src={{site.url}}{{site.baseurl}}/public/images/pizza_oven_woodstone.jpg>
		</div>
		<div class="col-lg-12">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" style="text-align:center; padding-top:50px; padding-bottom:100px;">
			<h1 style="color:black;">Oakland Pub and Grill</h1>
			<h3 style="color:black;">Fire roasted pizzas, smoked foods, salads, and more!</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<p> </p>
		</div>
		<div class="col-lg-8 screen-background">	
			<img class="img-responsive center-block" style="padding-top:100px; padding-bottom:50px;" src={{site.url}}{{site.baseurl}}/public/images/logo-dark-grey.png>
		</div>
		<div class="col-lg-2">
			<p> </p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<p> </p>
		</div>
		<!-- First column of the menu -->		
		<div class="col-lg-4 screen-background">
			<table style="margin: auto;">
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<p class="food-menu-section-title">Shared Plates:</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
			<!-- start shared menu items -->		
				{% if food.type == "shared" %}
					<tr>
						<td>
							<p class="food-item-name" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }} </p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.description }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.modifier }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
			<!-- start wood fired pizzas -->		
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<p class="food-menu-section-title">Wood Fire Pizzas:</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "pizza" %}
					<tr>
						<td>
							<p class="food-item-name" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }} </p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.description }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.modifier }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
			<!-- start salad -->		
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<p class="food-menu-section-title">Salads:</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "salad" %}
					<tr>
						<td>
							<p class="food-item-name" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }} </p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.description }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.modifier }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
					<tr>
						<td>
							<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">Add Grilled Chicken/Smoked Brisket $6 or Grilled Shrimp $8</p>
						</td>
					</tr>
				
			</table>
		</div>
		<!-- Second column of the menu -->		
		<div class="col-lg-4 screen-background">
			<table style="margin: auto;">
				<tr><td style="height: 50px;"/></tr>
			<!-- start sandwiches -->		
				<tr>
					<td>
						<p class="food-menu-section-title">Sandwiches:</p>
					</td>
				</tr>
				<tr>
					<td>
						<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">Served with Fries or a Small House Salad.</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "sandwiches" %}
					<tr>
						<td>
							<p class="food-item-name" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }}</p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.description }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.modifier }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
			<!-- start smoked platters -->
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<p class="food-menu-section-title">Smoked Platters:</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "smoked" %}
					<tr>
						<td>
							<p class="food-item-name" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }}</p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.description }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
					<tr>
						<td>
							<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">Served with your choice of Sweet & Tangy BBQ or  Bold & Spicy BBQ sauce</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-modifier" style="color:{{page.font_color}}; vertical-align: middle;">Choice of 2 Sides</p>
						</td>
					</tr>
			<!-- start entrees -->
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<p class="food-menu-section-title">Entrees:</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "entree" %}
					<tr>
						<td>
							<p class="food-item-name" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }}</p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.description }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
				<!-- start sides -->
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<p class="food-menu-section-title">Sides:</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "sides" %}
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }}</p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}

			<!-- start drinks -->
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<p class="food-menu-section-title">Drinks:</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "drinks" %}
					<tr>
						<td>
							<p class="food-item-description" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.name }}</p>
						</td>
						<td>
							<p class="food-item-price" style="color:{{page.font_color}}; vertical-align: middle;">{{ food.price }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
				<tr><td style="height: 103px;"/></tr>
			</table>
		</div>	
		<div class="col-lg-2">
			<p> </p>
		</div>
	</div>
	<div class="row">
			<div class="col-lg-12" style="padding-top:50px; padding-bottom:100px;">
				<p> </p>
			</div>
	</div>
</div>