---
layout: default
---
<div class="container-fluid no-padding">
	<div class="row">
		<div class="col-lg-3">
			<table style="margin: auto;">
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<a href="http://eat24hrs.com/restaurants/order2/menu.php?id=96639" class="btn btn-success btn-lg active" target="_blank" role="button" aria-pressed="true">Order Online</a>
					</td>
			</table>
		</div>
		<!-- First column of the menu -->		
		<div class="col-lg-6" style="margin-right:25px">
			<table style="margin: auto;">
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<h2 class="menu-name">Shared Plates:</h2>
					</td>
				</tr>
				{% for food in site.foodmenu %}
			<!-- start shared menu items -->		
				{% if food.type == "shared" %}
					<tr>
						<td>
							<h3 class="food-item">{{ food.name }} </h3>
						</td>
						<td>
							<p class="food-item">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description">
									{{ food.description }}
							</p>
							<p class="food-item-modifier">
								{% if food.modifier_1 != " " %}					
									{{ food.modifier_1 }}<br />
								{% endif %}	
								{% if food.modifier_2 != " " %}					
									{{ food.modifier_2 }}<br />
								{% endif %}	

							</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
			<!-- start wood fired pizzas -->		
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<h2 class="menu-name">Wood Fire Pizzas:</h2>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "pizza" %}
					<tr>
						<td>
							<h3 class="food-item">{{ food.name }} </h3>
						</td>
						<td>
							<p class="food-item">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description">
									{{ food.description }}
							</p>
							<p class="food-item-modifier">
								{% if food.modifier_1 != " " %}					
									{{ food.modifier_1 }}<br />
								{% endif %}	
								{% if food.modifier_2 != " " %}					
									{{ food.modifier_2 }}<br />
								{% endif %}	

							</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
			<!-- start salad -->		
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<h2 class="menu-name">Salads:</h2>
					</td>
				</tr>
				<tr>
					<td>
						<p class="food-item-modifier">Add Grilled Chicken/Smoked Brisket $6 or Grilled Shrimp $8</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "salad" %}
					<tr>
						<td>
							<h3 class="food-item">{{ food.name }} </h3>
						</td>
						<td>
							<p class="food-item">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description">
									{{ food.description }}
							</p>
							<p class="food-item-modifier">
								{% if food.modifier_1 != " " %}					
									{{ food.modifier_1 }}<br />
								{% endif %}	
								{% if food.modifier_2 != " " %}					
									{{ food.modifier_2 }}<br />
								{% endif %}	

							</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}				
				<tr><td style="height: 50px;"/></tr>
			<!-- start sandwiches -->		
				<tr>
					<td>
						<h2 class="menu-name">Sandwiches:</h2>
					</td>
				</tr>
				<tr>
					<td>
						<p class="food-item-modifier">Served with Fries or a Small House Salad.</p>
					</td>
				</tr>
				<tr>
					<td>
						<p class="food-item-modifier">Add Bacon, Cheese, or Advocado $2 each</p>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "sandwiches" %}
					<tr>
						<td>
							<h3 class="food-item">{{ food.name }} </h3>
						</td>
						<td>
							<p class="food-item">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description">
									{{ food.description }}
							</p>
							<p class="food-item-modifier">
								{% if food.modifier_1 != " " %}					
									{{ food.modifier_1 }}<br />
								{% endif %}	
								{% if food.modifier_2 != " " %}					
									{{ food.modifier_2 }}<br />
								{% endif %}	

							</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
			<!-- start entrees -->
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<h2 class="menu-name">Entrees:</h2>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "entree" %}
					<tr>
						<td>
							<h3 class="food-item">{{ food.name }} </h3>
						</td>
						<td>
							<p class="food-item">{{ food.price }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="food-item-description">
									{{ food.description }}
							</p>
							<p class="food-item-modifier">
								{% if food.modifier_1 != " " %}					
									{{ food.modifier_1 }}<br />
								{% endif %}	
								{% if food.modifier_2 != " " %}					
									{{ food.modifier_2 }}<br />
								{% endif %}	

							</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
				<!-- start sides -->
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<h2 class="menu-name">Sides:</h2>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "sides" %}
					<tr>
						<td>
							<h3 class="food-item">{{ food.name }} </h3>
						</td>
						<td>
							<p class="food-item">{{ food.price }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}

			<!-- start drinks -->
				<tr><td style="height: 50px;"/></tr>
				<tr>
					<td>
						<h2 class="menu-name">Drinks:</h2>
					</td>
				</tr>
				{% for food in site.foodmenu %}
				{% if food.type == "drinks" %}
					<tr>
						<td>
							<h3 class="food-item">{{ food.name }} </h3>
						</td>
						<td>
							<p class="food-item">{{ food.price }}</p>
						</td>
					</tr>
				{% endif %}
				{% endfor %}
			</table>
		</div>	
		<div class="col-lg-3">
			<p> </p>
		</div>
	</div>
</div>