---
layout: default
---

<table  class="post-table-index">
	{% tablerow post in site.posts cols: 2 %}
  <div class="post-index">
    <h1 class="post-title-index">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
	
	<!--Truncate post -->
	<div class="post-content">
	<span class="glyphicon glyphicon-calendar">
    <time datetime="2015-12-31 00:00:00 +0000" 
    property="dc:created"><span class="taglabel" >{{ post.date | date_to_string }}</span></time></span>
		<p>
		{% if post.content.size > 30 %}
		{{post.content | truncatewords: 30}}
			<p>
			<a class="post-read-more" href="{{ site.baseurl }}{{ post.url }}">read more...</a>
		{% else %}
		{{ post.content }}
		{% endif %}
	</div>	
	</div>
	{% endtablerow %}
</table>